svg {
  font: 10px sans - serif;
}

.bar rect {
  fill: steelblue;
}

.bar:hover rect {
  fill: brown;
}

.value {
  fill: white;
}

.Caxis {
  shape-rendering: crispEdges;
}

.Caxis path {
  stroke: none;
}

.x.Caxis line {
  stroke: #fff;
  stroke-opacity: 0.8;
}

.y.Caxis path {
  stroke: black;
}
