.bar--positive {
  fill: rgb(52, 138, 18);
}

.bar--negative {
  fill: rgb(196, 76, 76);
}

.PNaxis text {
  font: 10px sans-serif;
}

.PNaxis path,
.PNaxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
