body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  color: #333;
}
#keyFunction {
  position: relative;
  height: 40px;
  margin: 10px;
}
#keyFunction div {
  position: absolute;
  margin: 2px;
  background-color: orange;
  color: white;
  padding: 8px;
  width: 24px;
  height: 24px;
  text-align: center;
}
